@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --navbar-bg-color: hsl(210, 50%, 15%);
    --navbar-text-color: hsl(210, 50%, 85%);
    --navbar-text-color-focus: hsl(210, 50%, 95%);
    --navbar-bg-contrast: hsl(210, 50%, 25%);
    --modal-bg-color: hsl(0, 0%, 100%);
    --button-bg-color: hsl(30, 100%, 50%); /* Orange color */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: #ddd;
}

.container {
    max-width: 1000px;
    padding: 0 1.5rem;
    margin: 0 auto;
}

#navbar {
    --navbar-height: 80px;
    position: flex;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

#navbar:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

.home-link,
.navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.home-link:is(:focus, :hover),
.navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
    background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 0.5em;
}

.navbar-logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-bar {
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
}

#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu .navbar-links {
    padding: 1em;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 40%;
    background-color: var(--modal-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.modal:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.modal-content {
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;
}

.modal-content h2 {
    margin-bottom: 10px;
    font-weight: bold;
}

.modal-content p {
    width: 80%;
    margin: auto;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;

}

.modal-content input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.modal-content input:focus {
    background-color: #ddd;
}

.modal-content button {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: var(--modal-bg-color);
    transition: all 0.3s ease-in-out;
    margin: auto;
    margin-top: 15px;  
    background-color: var(--button-bg-color);
    font-size: 17px;
}

.modal-content button:hover {
    background-color: #a55902;
}

.modal.modal-quit {
    opacity: 0;
    visibility: hidden;
}

.modal.modal-quit {
    transform: translateY(-30px);
}

@media screen and (min-width: 700px) {

    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
        display: none;
    }

    #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

}
